/* Image Gallery */
.image-gallery {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 100%;
    margin: 0 10px;
    padding: 10px;
    overflow: hidden;
}

.image-gallery img {
    max-width: 100%;
    max-height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.image-gallery img.active {
    display: block;
}
